Flask==3.0.3
Flask_Cors==4.0.0
keras==2.10.0
keras_ocr==0.8.9
numpy==1.26.4
opencv_python==4.10.0.84
Pillow==10.3.0
protobuf==4.25.3
skimage==0.0
tensorflow==2.10.0
timm==0.6.7
torch==2.5.1+cu118
torchvision==0.20.1+cu118
waitress==3.0.0
distutils
