# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

Application/Backend/Models/*.h5
Application/Backend/Image_Store.jpg
Application/Backend/*.png
Application/Backend/tempCodeRunnerFile.py
Application/Backend/*cache*
Application/Backend/DocTr/_*
Application/Backend/segmented_words_cleaned
Application/Backend/DocTr/distorted/*
Application/Backend/DocTr/geo_rec/*
Application/Backend/DocTr/ill_rec/*
Application/Backend/DocTr/model_pretrained/*
Application/Backend/Image_Store/*
pnpm-lock.yaml
package-lock.json

ngrok.exe


# Logs
Application/logs
Application/*.log
Application/npm-debug.log*
Application/yarn-debug.log*
Application/yarn-error.log*
Application/pnpm-debug.log*
Application/lerna-debug.log*

Application/node_modules
Application/dist
Application/dist-ssr
Application/*.local

# Editor directories and files
Application/.vscode/*
Application/!.vscode/extensions.json
Application/.idea
Application/.DS_Store
Application/*.suo
Application/*.ntvs*
Application/*.njsproj
Application/*.sln
Application/*.sw?